/*==============================================
Subscribe One
===============================================*/
.subscribe-one {
  position: relative;
  display: block;
  background: var(--CPCMConsulting-black);
  padding: 90px 0px 90px;
  overflow: hidden;
  z-index: 1;
}

.subscribe-one .shape1 {
  position: absolute;
  top: -170px;
  left: -60px;
  z-index: 1;
}

.subscribe-one::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--CPCMConsulting-white);
  width: 660px;
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
  opacity: 0.3;
  content: "";
  z-index: -1;
}

.subscribe-one::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--CPCMConsulting-base);
  width: 650px;
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
  content: "";
  z-index: -1;
}

.subscribe-one__inner {
  position: relative;
  display: block;
  z-index: 5;
}

.subscribe-one__content {
  position: relative;
  display: block;
  max-width: 750px;
  width: 100%;
  float: right;
}

.subscribe-one__content h2 {
  color: var(--CPCMConsulting-white);
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 21px;
}

.subscribe-one__content p {
  color: var(--CPCMConsulting-white);
}

.subscribe-one__form {
  position: relative;
  display: block;
  margin-top: 52px;
}

.subscribe-one__form .subscribe-form {
  position: relative;
  display: block;
}

.subscribe-one__form .subscribe-form input[type="email"] {
  position: relative;
  display: block;
  width: 100%;
  height: 65px;
  padding: 0 25px;
  padding-right: 240px;
  background: transparent;
  border: 1px solid rgba(239, 243, 250, 0.25);
  color: #eff3fa;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
  transition: all 500ms ease;
  font-family: var(--CPCMConsulting-font);
  text-transform: none;
  outline: none;
  width: 100%;
}

.subscribe-one__form .subscribe-form input::-webkit-input-placeholder {
  color: #eff3fa;
}

.subscribe-one__form .subscribe-form input:-moz-placeholder {
  color: #eff3fa;
}

.subscribe-one__form .subscribe-form input::-moz-placeholder {
  color: #eff3fa;
}

.subscribe-one__form .subscribe-form input:-ms-input-placeholder {
  color: #eff3fa;
}

.subscribe-one__form .subscribe-form button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.subscribe-one__form .subscribe-form button.thm-btn .hover-btn {
  background-color: var(--CPCMConsulting-white);
}

.subscribe-one__form .subscribe-form button.thm-btn .hover-bx {
  border-radius: 0px 0px 0px 0px;
}

.subscribe-one__form .subscribe-form button.thm-btn:hover {
  color: var(--CPCMConsulting-black);
}
